<table class="table is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Weather Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>Edit Report</th>
      <th>Delete report</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{timestamp}}
      </td>
      <td>
        <span class="is-inline-flex">
          <figure class="image is-64x64 mr-4">
            <img src="https://openweathermap.org/img/wn/{{iconCode}}@2x.png" alt="{{weatherCode}} - Icon">
          </figure>
          <p>{{weatherCode}}</p>
        </span>
      </td>
      <td>
        {{temperature}} °C
      </td>
      <td>
        {{windSpeed}} km/h
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}} hPa
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
          {{>icons/open}}
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>