<div class="columns is-multiline m-1 is-flex is-align-items-stretch">
  <div class="column is-one-fifth">
    <div class="card has-background-black">
      <div class="card-content">
        <div class="is-flex">
          <div class="media-content has-text-white">
            <h2 class="title is-4 has-text-white is-spaced">{{title}}</h2>
            <p>Lat: {{lat}}</p>
            <p>Lng: {{lon}}</p>
            <br>
            <br>
          </div>
          <div class="is-flex">
              {{>icons/location}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card has-background-black">
      <div class="card-content">
        <div class="is-flex">
          <div class="media-content has-text-white">
            <h2 class="title is-4 has-text-white is-spaced">Weather</h2>
            <p>{{weatherCondition}}</p>
            <p>Code: {{mostRecentReport.weatherCode}}</p>
            <br>
            <br>
          </div>
          <div class="is-flex">
            <figure class="image is-48x48">
              <img src="https://openweathermap.org/img/wn/{{mostRecentReport.iconCode}}@2x.png" alt="Weather Icon">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card has-background-black">
      <div class="card-content">
        <div class="is-flex">
          <div class="media-content has-text-white">
            <h2 class="title is-4 has-text-white is-spaced">Temp</h2>
            <p>{{mostRecentReport.temperature}} 째C</p>
            <p>{{temperatureFahrenheit}} 째F</p>
            <p>Max: {{maxTemperature}} 째C</p>
            <p>Min: {{minTemperature}} 째C</p>
          </div>
          <div class="is-flex">
              {{>icons/temperature}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card has-background-black">
      <div class="card-content">
        <div class="is-flex">
          <div class="media-content has-text-white">
            <h2 class="title is-4 has-text-white is-spaced">Wind</h2>
            <p>{{mostRecentReport.windSpeed}} km/h</p>
            <p>{{mostRecentReport.windDirection}}</p>
            <p>Max: {{maxWindSpeed}} km/h</p>
            <p>Min: {{minWindSpeed}} km/h</p>
          </div>
          <div class="is-flex">
              {{>icons/wind}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-fifth">
    <div class="card has-background-black">
      <div class="card-content">
        <div class="is-flex">
          <div class="media-content has-text-white">
            <h2 class="title is-4 has-text-white is-spaced">Pressure</h2>
            <p>{{mostRecentReport.pressure}} hPa</p>
            <p>Max: {{maxPressure}} hPa</p>
            <p>Min: {{minPressure}} hPa</p>
            <br>
          </div>
          <div class="is-flex">
              {{>icons/pressure}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
